---
import IconButton from "../components/IconButton.astro";
import MainLayout from "../layouts/MainLayout/index.astro";
import logo from "../media/logo.png";
import pageLinks from "../components/pageLinks";
import "../main.css";
---

<MainLayout title="algo_helper">
 <div class=""></div>
</MainLayout>
