---
import Layout from "../layouts/Layout.astro";
import "../main.css";
---

<Layout title="algo_helper">
  <main>
    <div class="bg-color_bg">setsetg</div>
    <div class="bg-gradient-to-r from-color_button1 to-color_button2">setsetg</div>
  </main>
</Layout>
