---
export interface Props {
  pageLink: any;
  img: string;
  width?: string;
  height?: string;
}

const { img, pageLink, width, height } = Astro.props as Props;
---

<a href={pageLink}>
  <img
    src={img}
    alt=""
    width={`${width}`}
    height={`${height}`}
  />
</a>
